*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/*---------- HOME ----------*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/home.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2%, 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

.logo-txt a{
    color: rgb(211, 136, 51);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border: 1px solid #ffbf75;
    border-width: 2px;
    border-radius: 5px;
    padding: 4px 10px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #00b7ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-width: 2px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 2px solid #00b7ff;
    background: #00b7ff;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #00b7ff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa-facebook{
    color: #112ed3;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-twitter{
    color: #65cdf7;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-instagram{
    color: #fa3a9a;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-discord{
    color: #6b86ff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
/*---------- SCHOOL ----------*/
.school{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.school-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.school-col img{
    width: 15%;
}

/*---------- AB0UT ----------*/
.sub-header-a{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7),url());
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header-a h1{
    margin-top: 100px;
}

/*---------- VIDEOS ----------*/
.sub-header-v{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7),url());
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header-v h1{
    margin-top: 100px;
}

/*---------- NEWSPAPERS ----------*/
.header-n{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7),url(images/newspapers.png));
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.header-n h1{
    margin-top: 100px;
}

.fa-sad-tear{
    color: #000000;
    margin: 0 0px;
    cursor: pointer;
    padding: 0px 0;
}

.content-n{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

/*---------- CONTACT ----------*/
.sub-header-c{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7),url());
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header-c h1{
    margin-top: 100px;
}