*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background: #161623;
    justify-content: center;
}

/*---------- INDEX ----------*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/home.png");
    background-position: center;
    background-size: cover;
    position: relative;
}


nav{
    display: flex;
    padding: 2%, 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

.logo-txt a{
    color: rgb(211, 136, 51);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border: 1px solid #ffbf75;
    border-width: 2px;
    border-radius: 5px;
    padding: 4px 10px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    padding: 8px 25px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #00b7ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    padding: 12px 34px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 1px;
}

.hero-btn:hover{
    background: #fff;
    color: #161623;
    box-shadow: 0 0 5px #fff,
                0 0 25px #fff,
                0 0 50px #fff,
                0 0 200px #fff;
}

.hero-btn span{
    position: absolute;
    display: block;
}

.hero-btn span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: animate1 1s linear infinite;
}

@keyframes animate1{
    0%
    {
        left: -100%;
    }
    50%, 100%
    {
        left: -100%;
    }
}

.hero-btn span:nth-child(2){
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2{
    0%
    {
        top: -100%;
    }
    50%, 100%
    {
        top: -100%;
    }
}

nav .fa{
    display: none;
}

/*@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #00b7ff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: #fff;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa-facebook{
    color: #112ed3;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-twitter{
    color: #65cdf7;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-instagram{
    color: #fa3a9a;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fa-discord{
    color: #6b86ff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/*---------- ABOUT ----------*/
.header_a{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("images/about.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.content_a{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: #fff;
}

.club-jobs img{
    position: center;
    width: 100%;

}

.club-pic img{
    width: 80%;
}
/*---------- SCHOOL ----------*/
.school{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: #fff;
}

.school-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.school-col img{
    width: 15%;
}
.header_a h1{
    margin-top: 100px;
    text-align: center;
    color: #fff;
}

/*---------- NEWSPAPERS ----------*/
.header_n{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("images/newspapers.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
.header_n h1{
    margin-top: 100px;
    text-align: center;
    color: #fff;
}

.news{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1660px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card1{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url("images/covers/1_1.png");
    background-size: 280px 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card1 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card1:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card1 .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card1 .content h3{
    font-size: 1.8em;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

    z-index: 1;
}

.container .card1 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card2{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url("images/covers/2_1.png");
    background-size: 280px 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card2 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card2:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card2 .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card2 .content h3{
    font-size: 1.8em;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    z-index: 1;
}

.container .card2 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card3{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url("images/covers/3_1.png");
    background-size: 280px 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card3 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card3:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card3 .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card3 .content h3{
    font-size: 1.8em;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    z-index: 1;
}

.container .card3 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card4{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url("images/covers/4_1.png");
    background-size: 280px 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card4 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card4:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card4 .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card4 .content h3{
    font-size: 1.8em;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    z-index: 1;
}

.container .card4 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card5{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url("images/covers/5_1.png");
    background-size: 280px 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card5 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card5:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card5 .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card5 .content h3{
    font-size: 1.8em;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    z-index: 1;
}

.container .card5 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card6{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url("images/covers/6_1.png");
    background-size: 280px 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card6 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card6:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card6 .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card6 .content h3{
    font-size: 1.8em;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    z-index: 1;
}

.container .card6 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card7{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url("images/covers/7_1.png");
    background-size: 280px 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card7 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card7:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card7 .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card7 .content h3{
    font-size: 1.8em;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    z-index: 1;
}

.container .card7 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card8{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url("images/covers/8_1.png");
    background-size: 280px 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card8 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card8:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card8 .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card8 .content h3{
    font-size: 1.8em;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    z-index: 1;
}

.container .card8 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*---------- VOLUMES ----------*/
.slider{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    color: #fff;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
}

.slider h3{
    padding-bottom: 20px;
}

.myslide{
    width: 75%;
    display: none;
    overflow: hidden;
}

.prev, .next{
    position: relative;
    font-size: 45px;
    padding: 300px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
    user-select: none;
}

.prev:hover, .next:hover{
    color: #3498db;
}

.next{
    right: 0;
}

.dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70%);
    bottom: 20px;
    cursor: pointer;
}

.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.active, .dot:hover{
    border-color: #3498db;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}
  
@-webkit-keyframes fade {
    from {opacity: 0.7}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: 0.7}
    to {opacity: 1}
}